
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">



<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators" style="opacity: 0.2;">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div id="bgImage1" class="item active">
        <%= image_tag "lisa_pegher_concerto.jpg", alt:'Lisa Pegher' %>
            <div class="carousel-caption">
            <!--  <h1 style="color: darkgrey; font-weight: 700px; opacity: 0.7; font-style: italic">"Forcefully Balletic"</h1>  -->
            </div>
      </div>

      <div id="bgImage2" class="item">
    <%= image_tag "SAM_0326.jpg", alt:'Lisa Pegher' %>
    <div class="carousel-caption">
  <!--    <h1 style="color: darkgrey; font-weight: 700px; opacity: 0.7; font-style: italic">"Tremendous"</h1> -->
    </div>
      </div>

      <div id="bgImage3" class="item">

         <%= image_tag "lisa-pegher2.jpg", alt:'Lisa Pegher' %>
        <div class="carousel-caption">
      <!--    <h1 style="color: darkgrey; font-weight: 700px; opacity: 0.7; font-style: italic">"— a wild throwdown pitting full-tilt rock-and-roll drums against muscle-flexing symphonic fury."</h1> -->
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The About Section) -->
<div id="about" class="container text-center">
  <h3>LISA: ABOUT</h3>
  <p><em>My Short Bio</em></p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>


  <!-- Container Make this into a blog section with links -->
  <div class="row">
    <div class="col-sm-4">

      <div id="demo" class="collapse">
        <p>Guitarist and Lead Vocalist</p>
        <p>Loves long walks on the beach</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">

      <div id="demo2" class="collapse">
        <p>Drummer</p>
        <p>Loves drummin'</p>
        <p>Member since 1988</p>
      </div>
    </div>
    <div class="col-sm-4">

      <div id="demo3" class="collapse">
        <p>Bass player</p>
        <p>Loves math</p>
        <p>Member since 2005</p>
      </div>
    </div>
  </div>
</div>
<!-- Container (Portfolio Section) -->
<div id="portfolio" class="container-fluid text-center bg-grey">

<br>
<h4>WATCH</h4>
<div class="row text-center slideanim">
<div class="col-sm-4">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
<div class="col-sm-4">
<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
<div class="col-sm-4">
<div class="thumbnail">

<div class="video-container">
<iframe src="https://www.youtube.com/embed/hTfmQEM_Ye0" frameborder="0" allowfullscreen></iframe>
</div>
<p><strong>Northern Nights Percussion Concerto by Paul Dooley</strong></p>
<p>An Orchestral Percusion Concerto with an EDM influence and VJ Light Show</p>
</div>
</div>
</div>
</div>

<!-- Container Make this into an event section  -->
<div id="tour" class="bg-1">
  <div class="container">
    <h3 class="text-center">TOUR DATES</h3>
    <p class="text-center">Upcoming Events<br> Remember to book your tickets!</p>
    <ul class="list-group">
      <li class="list-group-item">Mulhouse France Orchestré: Danielpour's "The Wounded Healer" <span class="label label-danger">10 Tickets Left!</span></li>
      <li class="list-group-item">Minimal Art in Asheville<span class="label label-danger">Next Month! </span></li>
      <li class="list-group-item">SideFire Trio in Pittsburgh <span class="badge">Coming up Soon!</span></li>
    </ul>
      <p class="text-center">Past Performances this season<br></p>
    <ul class="list-group">
      <li class="list-group-item">Syracuse Symphony Orchestra: Danielpour's "The Wounded Healer" <span class="label label-danger"></span></li>
      <li class="list-group-item">West Virginia Symphony Orchestra: Danielpour's "The Wounded Healer" <span class="label label-danger"></span></li>
      <li class="list-group-item">SideFire Trio in Spain<span class="badge"></span></li>
            <li class="list-group-item">Minimal Art in Los Angeles<span class="badge"></span></li>
                <li class="list-group-item">Minimal Art in Asheville<span class="badge"></span></li>
                  <li class="list-group-item">SideFire Trio in Brooklyn<span class="badge"></span></li>
                </ul>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">

          <%= image_tag "CityPic1.jpg", alt:"Paris" %>
          <p><strong>Paris</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">

          <%= image_tag "CityPic1.jpg", alt:"Paris" %>
          <p><strong>New York</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">

          <%= image_tag "CityPic1.jpg", alt:"Paris" %>
          <p><strong>San Francisco</strong></p>
          <p>Friday 27 November 2015</p>
          <button class="btn" data-toggle="modal" data-target="#myModal">Buy Tickets</button>
        </div>
<br>
      </div>
    </div>
  </div>


  <!-- Modal TODO: make this modal work for a newsletter sign up -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
              <button type="submit" class="btn btn-block">Pay
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <p>Need <a href="#">help?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h2 class="text-center">CONTACT</h2>


  <div class="row">
    <div class="col-md-4">
      <p>BOOKING</p>
      <p><span class="glyphicon glyphicon-map-marker"></span>Brooklyn, NYC</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>

  <!-- Container TODO: make this blog section better or move it to the top -->
  <h2 class="text-center">BLOG</h2>
  <!-- InstaWidget -->
  <a href="https://instawidget.net/v/user/lismae" id="link-f186768d2754318292c27aed4a55eafdc4914896d00df10837a63cdf37036815">@lismae</a>
  <script src="https://instawidget.net/js/instawidget.js?u=f186768d2754318292c27aed4a55eafdc4914896d00df10837a63cdf37036815&width=925px"></script>
    <li class="active"><a data-toggle="tab" href="#home">Blog Post: "Some Past News"</a></li>
        <li><a data-toggle="tab" href="#menu1">Blog Post: "My Book is Almost ready to be Released!"</a></li>
    <li><a data-toggle="tab" href="#menu2">Blog Post: "On the Road"</a></li>
    <li><a data-toggle="tab" href="#menu3">Blog Post: "Beginners Mind will set you Free"</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>"Some Past News"</h2>
      <p>lorem ipsumlorem ipsumvvlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>"My Book is almost Ready to be Released!"</h2>
      <p>lorem ipsumlorem ipsumvvlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>"On the Road"</h2>
      <p>lorem ipsumlorem ipsumvvlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>"Beginners Mind will set you Free..."</h2>
      <p>lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>2018<a href="https://www.mypage.com" data-toggle="tooltip" title="Lisa"></a></p>
</footer>
</body>
